.navbar-nav li:hover>.dropdown-menu {
    display: block;
  }

  @media (min-width: 768px){
    #navbarItems1 {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 70px;
      padding-left: 10%;
    }
    #navbarItems2 {
      display: grid;
      grid-template-columns: auto;
      padding-right: 5%;
      gap: 10px;
    }

}
